 /*------------------------- *\
         font used
\*-------------------------- */
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Poppins:wght@200;400;500;700;800&family=Roboto:wght@100;300;400;500;700;900&family=Urbanist:wght@100;200;300;500;600;700;800;900&display=swap');

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins';
}

/* ------------------------*\
    navigation design
\*------------------------- */

.container{
    width: 80%;
    margin: 0 auto;
}
.navigation{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 15px auto;
}
.logo-box{
    color: #3A3A3A;
}
.button-box{
    display: flex;
    align-items: center;
}
.nav-menu ul{
    display: flex;
}
.nav-menu ul li{
    list-style: none;
    margin: 0 15px;
}
.nav-menu ul li a{
    text-decoration: none;
    font-family: inherit;
    color: #3A3A3A;
    padding: 5px;
}
.nav-menu-icon {
    display: flex;
    justify-content: space-between;
}
.nav-menu-icon p{
    margin: 0 12px;
    padding: 5px;
    cursor: pointer;
}

/* ----------------------------*\
        banner-section
\*---------------------------- */

.banner-box{
    display: flex;
}
.article-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    transition: transform .5s ease-out;
}
.main-title{
    font-size: 50px;
    font-weight: 700;
    color: #3A3A3A;
    margin: 0;
}
.primary-btn{
    padding: 10px 25px;
    color: white;
    background: #E02C6D;
    border: none;
    cursor: pointer;
    border-radius: 25px;
}
.banner-img{
    transition: transform .5s ease-out;
}
.article-box:hover{
    transform: scale(1.2);
}
.banner-img:hover{
    transform: scale(1.2);
}

